<div class="my-3">
<h1>Add a TODO</h1>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">TODO Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp" required>
    </div>
    <div class="form-group">
      <label for="desc">TODO Description</label>
      <input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc" required>
    </div> 
    <button type="submit" class="btn btn-outline-primary">ADD TODO</button>
  </form>
</div>